@{
    ViewBag.Title = "About our company";
}
<h2>@ViewBag.Title.</h2>





<p>We are the first bakery in Gdynia wich provide a fresh bread to our customers within 30 minutes after making an order. :) </p>
