@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    CHLEBIRO<br />
    Gdynia,81-400<br />
    <abbr title="Phone">P:</abbr>
    555-452-875
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ChlebiroSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ChlebiroMarketing@example.com">Marketing@example.com</a>
</address>